---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Bus.svc/json/jBusPositions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"BusPositions":[{"VehicleID":"6139","Lat":38.814674,"Lon":-77.016815,"Deviation":0.0,"DateTime":"2020-01-21T12:08:40","TripID":"1192525020","RouteID":"A6","DirectionNum":0,"DirectionText":"NORTH","TripHeadsign":"ANACOSTIA
        STATION","TripStartTime":"2020-01-21T08:10:00","TripEndTime":"2020-01-21T08:35:00","BlockNumber":"SA-17"},{"VehicleID":"7235","Lat":38.828342,"Lon":-76.883156,"Deviation":0.0,"DateTime":"2020-01-21T12:16:04","TripID":"1197062020","RouteID":"J12","DirectionNum":0,"DirectionText":"EAST","TripHeadsign":"FORESTVILLE
        VIA PRESIDENTIAL PARKWAY","TripStartTime":"2020-01-21T08:45:00","TripEndTime":"2020-01-21T09:22:00","BlockNumber":"AJ-02"},{"VehicleID":"5431","Lat":39.04615,"Lon":-77.107246,"Deviation":52.0,"DateTime":"2020-01-21T12:15:54","TripID":"1162947020","RouteID":"70","DirectionNum[...]
