---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Incidents.svc/json/BusIncidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"BusIncidents":[{"IncidentID":"16B4FA48-01B7-42F4-B12E-E4EBA4DD20C8","IncidentType":"Alert","RoutesAffected":["E2","F6"],"Description":"Due
        to construction on Gallatin St NE at Sargent Rd, buses may experience delays
        and possible detours.","DateUpdated":"2020-01-21T10:06:58"}]}'
  recorded_at: Tue, 21 Jan 2020 17:20:15 GMT
recorded_with: VCR 5.0.0
