---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Incidents.svc/json/ElevatorIncidents?StationCode=A01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"ElevatorIncidents":[{"UnitName":"A01W06","UnitType":"ESCALATOR","UnitStatus":null,"StationCode":"A01","StationName":"Metro
        Center, G and 13th St Entrance","LocationDescription":"Escalator between mezzanine
        and platform to Glenmont","SymptomCode":null,"TimeOutOfService":"0510","SymptomDescription":"Minor
        Repair","DisplayOrder":0.0,"DateOutOfServ":"2020-01-21T05:10:00","DateUpdated":"2020-01-21T09:20:13","EstimatedReturnToService":"2020-01-23T23:59:59"}]}'
  recorded_at: Tue, 21 Jan 2020 17:16:19 GMT
recorded_with: VCR 5.0.0
