---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Rail.svc/json/jStationEntrances?latitude=38.8817596&longitude=-77.0166426&radius=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Entrances":[{"ID":"1","Name":"EAST BUILDING ENTRANCE (HYATT) TO RED
        LINES","StationCode1":"A01","StationCode2":"C01","Description":"Building entrance
        from east mezzanine to Grand Hyatt Hotel entrance.","Lat":38.898365,"Lon":-77.026683},{"ID":"2","Name":"EAST
        ENTRANCE (11TH & G STs) TO RED LINES","StationCode1":"A01","StationCode2":"C01","Description":"Building
        Entrance from the southeast corner of 11th St NW and G St NW.","Lat":38.898073,"Lon":-77.026789},{"ID":"3","Name":"WEST
        BUILDING ENTRANCE (MACY''S) TO RED LINES","StationCode1":"A01","StationCode2":"C01","Description":"Building
        entrance from west mezzanine to Macy''s entrance.","Lat":38.898433,"Lon":-77.029402},{"ID":"4","Name"[...]
