---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Rail.svc/json/jLines
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Lines":[{"LineCode":"BL","DisplayName":"Blue","StartStationCode":"J03","EndStationCode":"G05","InternalDestination1":"","InternalDestination2":""},{"LineCode":"GR","DisplayName":"Green","StartStationCode":"F11","EndStationCode":"E10","InternalDestination1":"","InternalDestination2":""},{"LineCode":"OR","DisplayName":"Orange","StartStationCode":"K08","EndStationCode":"D13","InternalDestination1":"","InternalDestination2":""},{"LineCode":"RD","DisplayName":"Red","StartStationCode":"A15","EndStationCode":"B11","InternalDestination1":"A11","InternalDestination2":"B08"},{"LineCode":"SV","DisplayName":"Silver","StartStationCode":"N06","EndStationCode":"G05","InternalDestination1":"","InternalDestination2":""},{"LineCode":"YL","DisplayName":"Yellow","StartStationCode":"C15","EndStationCode":"E06","InternalDestination1":"E01","InternalDestination2":""}]}'
  recorded_at: Tue, 21 Jan 2020 17:17:26 GMT
recorded_with: VCR 5.0.0
