---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/NextBusService.svc/json/jPredictions?StopID=1001195
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"StopName":"7th St + Massachusetts Ave","Predictions":[{"RouteID":"70","DirectionText":"North
        to Silver Spring Station","DirectionNum":"0","Minutes":2,"VehicleID":"5446","TripID":"1162797020"},{"RouteID":"74","DirectionText":"North
        to Convention Center","DirectionNum":"0","Minutes":9,"VehicleID":"8092","TripID":"1163606020"},{"RouteID":"74","DirectionText":"North
        to Convention Center","DirectionNum":"0","Minutes":26,"VehicleID":"8076","TripID":"1163605020"},{"RouteID":"70","DirectionText":"North
        to Silver Spring Station","DirectionNum":"0","Minutes":27,"VehicleID":"5435","TripID":"1162799020"},{"RouteID":"70","DirectionText":"North
        to Silver Spring Station","DirectionNum":"0","Minutes":38,"VehicleID":"5441","TripID":"1162800020"}]}'
  recorded_at: Tue, 21 Jan 2020 17:16:18 GMT
recorded_with: VCR 5.0.0
