---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/StationPrediction.svc/json/GetPrediction//A01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Trains":[{"Car":"8","Destination":"Glenmont","DestinationCode":"B11","DestinationName":"Glenmont","Group":"1","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"BRD"},{"Car":"6","Destination":"Shady Gr","DestinationCode":"A15","DestinationName":"Shady
        Grove","Group":"2","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"2"},{"Car":"8","Destination":"Glenmont","DestinationCode":"B11","DestinationName":"Glenmont","Group":"1","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"6"},{"Car":"8","Destination":"Shady Gr","DestinationCode":"A15","DestinationName":"Shady
        Grove","Group":"2","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"6"},{"Car":"8","Destination":"Glenmont","DestinationCode":"B11","DestinationName":"Glenmont","Group":"1","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"10"},{"Car":"6","Destination":"Shady Gr","DestinationCode":"A15","DestinationName":"Shady
        Grove","Group":"2","Line":"RD","LocationCode":"A01","LocationName":"Metro
        Center","Min":"14"}]}'
  recorded_at: Tue, 21 Jan 2020 17:17:26 GMT
recorded_with: VCR 5.0.0
