---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Rail.svc/json/jPath?FromStationCode=A01&ToStationCode=A02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Path":[{"LineCode":"RD","StationCode":"A01","StationName":"Metro
        Center","SeqNum":1,"DistanceToPrev":0},{"LineCode":"RD","StationCode":"A02","StationName":"Farragut
        North","SeqNum":2,"DistanceToPrev":4178}]}'
  recorded_at: Tue, 21 Jan 2020 17:17:25 GMT
recorded_with: VCR 5.0.0
