---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Bus.svc/json/jRouteDetails?RouteID=A12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"RouteID":"A12","Name":"A12 - CAPITAL PLAZA - ADDISON RD STA","Direction0":{"TripHeadsign":"CAPITAL
        PLAZA","DirectionText":"NORTH","DirectionNum":"0","Shape":[{"Lat":38.886142,"Lon":-76.895848,"SeqNum":1},{"Lat":38.886428,"Lon":-76.896000,"SeqNum":2},{"Lat":38.886457,"Lon":-76.896365,"SeqNum":3},{"Lat":38.886133,"Lon":-76.896460,"SeqNum":4},{"Lat":38.885347,"Lon":-76.896316,"SeqNum":5},{"Lat":38.885219,"Lon":-76.896460,"SeqNum":6},{"Lat":38.885024,"Lon":-76.897452,"SeqNum":7},{"Lat":38.885126,"Lon":-76.897604,"SeqNum":8},{"Lat":38.887970,"Lon":-76.898375,"SeqNum":9},{"Lat":38.888770,"Lon":-76.898700,"SeqNum":10},{"Lat":38.889139,"Lon":-76.898979,"SeqNum":11},{"Lat":38.889175,"Lon":-76.898926,"[...]
