---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/TrainPositions/TrainPositions?contentType=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"TrainPositions":[{"TrainId":"143","TrainNumber":"899","CarCount":4,"DirectionNum":2,"CircuitId":1951,"DestinationStationCode":null,"LineCode":null,"SecondsAtLocation":2,"ServiceType":"NoPassengers"},{"TrainId":"174","TrainNumber":"599$","CarCount":4,"DirectionNum":2,"CircuitId":1639,"DestinationStationCode":null,"LineCode":null,"SecondsAtLocation":46,"ServiceType":"NoPassengers"},{"TrainId":"206","TrainNumber":"822","CarCount":8,"DirectionNum":1,"CircuitId":1075,"DestinationStationCode":null,"LineCode":null,"SecondsAtLocation":2,"ServiceType":"NoPassengers"},{"TrainId":"207","TrainNumber":"820*","CarCount":6,"DirectionNum":1,"CircuitId":1438,"DestinationStationCode":null,"Li[...]
