---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Bus.svc/json/jRouteSchedule?IncludingVariations=true&RouteID=A12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Name":"A12 - CAPITAL PLAZA - CAPITOL HTS","Direction0":[{"RouteID":"A12","DirectionNum":"0","TripDirectionText":"NORTH","TripHeadsign":"CAPITAL
        PLAZA","StartTime":"2020-01-21T04:55:00","EndTime":"2020-01-21T05:46:00","StopTimes":[{"StopID":"3002947","StopName":"ADDISON
        RD STATION + BUS BAY D","StopSeq":1,"Time":"2020-01-21T04:55:00"},{"StopID":"3000957","StopName":"ADDISON
        RD + ADAK ST","StopSeq":2,"Time":"2020-01-21T04:56:29"},{"StopID":"3000980","StopName":"ADDISON
        RD + ADEL ST","StopSeq":3,"Time":"2020-01-21T04:57:05"},{"StopID":"3004032","StopName":"ADDISON
        RD + BALTIC ST","StopSeq":4,"Time":"2020-01-21T04:57:35"},{"StopID":"3001009","StopName":"ADDISON
        RD + CROWN ST","StopSeq":5,"Time":"2020-01-21T04:58:07"},{"StopID":"3001015","StopName":"ADDISON
        RD + DRY L[...]
