---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Rail.svc/json/jSrcStationToDstStationInfo?FromStationCode=A01&ToStationCode=A02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"StationToStationInfos":[{"SourceStation":"A01","DestinationStation":"A02","CompositeMiles":0.75,"RailTime":2,"RailFare":{"PeakTime":2.25,"OffPeakTime":2.00,"SeniorDisabled":1.10}}]}'
  recorded_at: Tue, 21 Jan 2020 17:16:18 GMT
recorded_with: VCR 5.0.0
