---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Rail.svc/json/jStationInfo?StationCode=A01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Code":"A01","Name":"Metro Center","StationTogether1":"C01","StationTogether2":"","LineCode1":"RD","LineCode2":null,"LineCode3":null,"LineCode4":null,"Lat":38.898303,"Lon":-77.028099,"Address":{"Street":"607
        13th St. NW","City":"Washington","State":"DC","Zip":"20005"}}'
  recorded_at: Tue, 21 Jan 2020 17:17:26 GMT
recorded_with: VCR 5.0.0
