---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Bus.svc/json/jStopSchedule?StopID=1001195
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Stop":{"StopID":"1001195","Name":"7TH ST + MASSACHUSETTS AVE","Lon":-77.021850,"Lat":38.901901,"Routes":["70","74"]},"ScheduleArrivals":[{"ScheduleTime":"2020-01-21T04:05:39","DirectionNum":"0","StartTime":"2020-01-21T04:00:00","EndTime":"2020-01-21T04:35:00","RouteID":"70","TripDirectionText":"NORTH","TripHeadsign":"SILVER
        SPRING STATION","TripID":"1110071020"},{"ScheduleTime":"2020-01-21T04:29:39","DirectionNum":"0","StartTime":"2020-01-21T04:24:00","EndTime":"2020-01-21T04:59:00","RouteID":"70","TripDirectionText":"NORTH","TripHeadsign":"SILVER
        SPRING STATION","TripID":"1110072020"},{"ScheduleTime":"2020-01-21T04:53:39","DirectionNum":"0","StartTime":"2020-01-21T04:48:00","EndTime":"2020-01-21T05:23:00","RouteID":"70","TripDirectionText":"NORTH","TripHeadsign":"SILVER
        SPRING STATION","TripID":"1110073020"},{"ScheduleTime[...]
