---
http_interactions:
- request:
    method: get
    uri: https://api.wmata.com/Bus.svc/json/jStops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api_key:
      - 9e38c3eab34c4e6c990828002828f5ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      arr-disable-session-affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"Stops":[{"StopID":"2000672","Name":"CONNECTICUT AVE + EVERTON ST","Lon":-77.073250,"Lat":39.058270,"Routes":["L8"]},{"StopID":"2000673","Name":"GEORGIA
        AVE + SHERATON ST","Lon":-77.050735,"Lat":39.059657,"Routes":["C8","C8v1","C8v2","C8v3"]},{"StopID":"2000674","Name":"VEIRS
        MILL RD + HAVARD ST","Lon":-77.086455,"Lat":39.058304,"Routes":["Q1","Q2","Q2v1","Q4","Q5","Q6","Q6v1"]},{"StopID":"2000675","Name":"NEW
        HAMPSHIRE AVE + VALLEY BROOK DR","Lon":-76.997489,"Lat":39.058786,"Routes":["C8","C8v1","C8v3","Z2","Z2v1","Z2v3"]},{"StopID":"2000676","Name":"RANDOLPH
        RD + LIVIN[...]
